﻿<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/materialize/js/materialize.js"></script>
    <link href="~/Scripts/materialize/css/materialize.css" rel="stylesheet" />
    <script src="~/Scripts/funcionalidades.js"></script>
    <link href="~/Content/Principal.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com"> @*para traer las fuentes*@
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">*@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <div class="row fondo">
        <!--Header o parte superior -->
        <div class="col s12 center ">
            <img class="imagen" src="~/Imagen/Cargo.png" height="120" width="695" /> @* ~/lo uso para ubicarme en la raiz del proyecto*@
        </div>
        
    </div>

    <div class="row">
        <div class="col s3 center">
            <ul>
                <li class="li"> @Html.ActionLink("Usuarios", "Index", "Usuarios")  @*<a href="#">Usuarios</a>*@
                </li>

                <li class="li">
                    @Html.ActionLink("Procesos", "Index", "Procesos")
                </li>

                <li class="li">
                    @Html.ActionLink("Actividades", "Index", "Actividades")
                </li>

                <li class="li">
                    
                    @Html.ActionLink("Embarques", "Index", "Embarques")
                </li>
                <li class="li">
                     
                    @Html.ActionLink("Trazabilidad", "Index", "Trazabilidads")
                </li>
                <li class="li">
                    
                    @Html.ActionLink("Moneda", "Index", "Monedas")
                </li>
            </ul>
        </div>
        <div class="col s7 center">
            @RenderBody()

        </div>
    </div>

    <div class="row fondo footer">
        <div class="col s6  right-align">
            <ul>
                <li>Estamos ubicados en Anserma y Riosucio, Caldas, Colombia</li>
                <li>Telefono: +57 6 8890012</li>
                <li>&copy; 2021</li>
            </ul>
        </div>

        <div class="col s6 ">
            <i class="material-icons medium">facebook</i>
            <i class="material-icons medium">contact_mail</i>
            <i class="material-icons medium">phone_in_talk</i>
            <i class="material-icons medium">qr_code_2</i>
            @*<img src="https://img.icons8.com/windows/80/ffffff/whatsapp-squared.png" />*@



            @*<ul>
            <li> </li>

            <li>Twitter</li>
            <li>Instagram</li>
        </ul>*@
        </div>
        
    </div>

</body>
</html>
