﻿@model PrimerProyecto.Models.Embarques

@{
    ViewBag.Title = "Delete";
}
<div class="row">
    <div class="col s12 center-align">
        <h4>Eliminar Embarque</h4>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Direccion_pro)</th>
                    <th>@Html.DisplayNameFor(model => model.Telefono_pro)</th>
                    <th>@Html.DisplayNameFor(model => model.Contacto_pro)</th>
                    <th>@Html.DisplayNameFor(model => model.N_Orden)</th>
                    <th>@Html.DisplayNameFor(model => model.Consignatario)</th>
                    <th>@Html.DisplayNameFor(model => model.Origen)</th>
                    <th>@Html.DisplayNameFor(model => model.Destino)</th>
                    <th>@Html.DisplayNameFor(model => model.Embarque_A)</th>
                    <th>@Html.DisplayNameFor(model => model.Embarque_M)</th>
                    <th>@Html.DisplayNameFor(model => model.Producto)</th>
                    <th>@Html.DisplayNameFor(model => model.Zona_Aduanera)</th>
                    <th>@Html.DisplayNameFor(model => model.Incoterm)</th>
                    <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.Direccion_pro)</td>
                    <td>@Html.DisplayFor(model => model.Telefono_pro)</td>
                    <td>@Html.DisplayFor(model => model.Contacto_pro)</td>
                    <td>@Html.DisplayFor(model => model.N_Orden)</td>
                    <td>@Html.DisplayFor(model => model.Consignatario)</td>
                    <td>@Html.DisplayFor(model => model.Origen)</td>
                    <td>@Html.DisplayFor(model => model.Destino)</td>
                    <td>@Html.DisplayFor(model => model.Embarque_A)</td>
                    <td>@Html.DisplayFor(model => model.Embarque_M)</td>
                    <td>@Html.DisplayFor(model => model.Producto)</td>
                    <td>@Html.DisplayFor(model => model.Zona_Aduanera)</td>
                    <td>@Html.DisplayFor(model => model.Incoterm)</td>
                    <td>@Html.DisplayFor(model => model.Descripcion)</td>
                    <td></td>
                </tr>             
            </tbody>
        </table>
    </div>
</div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="row form-group">
    <div class="col s5 offset-s2">
        <input type="submit" value="GUARDAR" class="btn btn-default green" />
    </div>
    <div class="col s5">
        <span class="btn btn-default light-green lighten-3">@Html.ActionLink("REGRESAR", "Index")</span>
    </div>
</div>
    }