﻿@model PrimerProyecto.Models.Embarques

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col s10 offset-s2">
        <h4>Editar Embarques</h4>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="row form-group">

            <div class="col s5 offset-s2">
                @Html.LabelFor(model => model.Direccion_pro, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Direccion_pro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion_pro, "", new { @class = "text-danger" })
            </div>
            <div class="col s5">
                @Html.LabelFor(model => model.Telefono_pro, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Telefono_pro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono_pro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">

            <div class="col s5 offset-s2">
                @Html.LabelFor(model => model.Contacto_pro, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Contacto_pro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contacto_pro, "", new { @class = "text-danger" })
            </div>
            <div class="col s5">
                @Html.LabelFor(model => model.N_Orden, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.N_Orden, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.N_Orden, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="row form-group">

            <div class="col s5 offset-s2">
                @Html.LabelFor(model => model.Consignatario, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Consignatario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Consignatario, "", new { @class = "text-danger" })
            </div>
            <div class="col s5">
                @Html.LabelFor(model => model.Origen, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Origen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Origen, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="row form-group">

            <div class="col s5 offset-s2">
                @Html.LabelFor(model => model.Destino, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Destino, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Destino, "", new { @class = "text-danger" })
            </div>
            <div class="col s5">
                @Html.LabelFor(model => model.Embarque_A, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Embarque_A, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Embarque_A, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row form-group">

            <div class="col s5 offset-s2">
                @Html.LabelFor(model => model.Embarque_M, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Embarque_M, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Embarque_M, "", new { @class = "text-danger" })
            </div>
            <div class="col s5">
                @Html.LabelFor(model => model.Producto, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Producto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Producto, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row form-group">

            <div class="col s5 offset-s2">
                @Html.LabelFor(model => model.Zona_Aduanera, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Zona_Aduanera, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Zona_Aduanera, "", new { @class = "text-danger" })
            </div>
            <div class="col s5">
                @Html.LabelFor(model => model.Incoterm, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Incoterm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Incoterm, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="row form-group">
            
            <div class="col s10 offset-s2">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-group">
            <div class="col s5 offset-s2">
                <input type="submit" value="GUARDAR" class="btn btn-default green" />
            </div>
            <div class="col s5">
                <span class="btn btn-default light-green lighten-3">@Html.ActionLink("REGRESAR", "Index")</span>
            </div>
        </div>
    </div>
}

