﻿@model PrimerProyecto.Models.Actividades

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actividades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Creada_por)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creada_por)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asignada_por)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asignada_por)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relacionado_con)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relacionado_con)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_final)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Procesos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procesos.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
