﻿@model IEnumerable<PrimerProyecto.Models.Actividades>

@{
    ViewBag.Title = "Index";
}

<h6>Actividades</h6>

<div class="btn-floating btn-small waves-effect waves-light green">
    @Html.ActionLink("+", "Create")
</div>
<div class="row">
    <div class="col s12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Creada_por)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Asignada_por)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Relacionado_con)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Asunto)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Vencimiento)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Prioridad)
                </th>
                <th>Inicio
                    @*@Html.DisplayNameFor(model => model.Fecha_inicio)*@
                </th>
                <th>Fin
                    @*@Html.DisplayNameFor(model => model.Fecha_final)*@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Procesos.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuarios.Nombre)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creada_por)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Asignada_por)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Relacionado_con)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Asunto)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Cliente)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Vencimiento)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Prioridad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_inicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_final)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Procesos.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuarios.Nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Editar Información", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                        @Html.ActionLink("Eliminar Registro", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
</div>
</div>