﻿@model IEnumerable<PrimerProyecto.Models.Monedas>

@{
    ViewBag.Title = "Index";
}

<h6>Monedas</h6>

<div class="btn-floating btn-small waves-effect waves-light green">
    @Html.ActionLink("+", "Create")
</div>
<div class="row">
    <div class="col s12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>Administrar</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.ActionLink("Editar Información", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                        @Html.ActionLink("Eliminar Registro", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
        </div>
    </div>
