﻿@model PrimerProyecto.Models.Usuarios

@{
    ViewBag.Title = "Create";
}
<div class="row">
    <div class="col s10 offset-s2">
        <h6>Crear Usuario</h6>
    </div>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class=" col s5 offset-s2 input-field">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
        <div class="col s5 input-field">
            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col s5 offset-s2 input-field">
            @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
        </div>
        <div class="col s5 input-field">
            @Html.LabelFor(model => model.Contrasena, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Contrasena, new { htmlAttributes = new { @class = "form-control validate" } })
            @Html.ValidationMessageFor(model => model.Contrasena, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col s5 offset-s2">
            <input type="submit" value="GUARDAR" class="btn btn-default green" />
        </div>
        <div class="col s5">
            <span class="btn btn-default light-green lighten-3">@Html.ActionLink("REGRESAR", "Index")</span>
        </div>
    </div>
</div>
}