﻿@model IEnumerable<PrimerProyecto.Models.Usuarios>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col s10 offset-s2">
        <h4>Registro de Usuarios</h4>
    </div>
    <div class="col s10 offset-s2">
        <span class="btn-floating btn-small waves-effect waves-light green">@Html.ActionLink("+", "Create")</span>
    </div>
</div>

<div class="row">
    <div class="col s12 offset-s2">
        <table class="striped ">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contrasena)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contrasena)
                    </td>
                    <td>
                        <div class="material-icons">
                            @Html.ActionLink("edit", "Edit", new { id = item.id })
                        </div>
                        <div class="material-icons">
                            @Html.ActionLink("description", "Details", new { id = item.id })
                        </div>
                        <div class="material-icons">
                            @Html.ActionLink("delete", "Delete", new { id = item.id })
                        </div>
                    </td>
                </tr>
            }

        </table>
    </div>
  
</div>

