.fondo{
	background-color: #0fbe1d;
}
#btnIngresar{
	background-color: #4753ff;
    width: 100px;
    border: none;
    border-radius: 10px;
    height: 30px;
    margin: 50px;
}

#btnCancelar{
	background-color: #ff7b47;
    width: 100px;
    border: none;
    border-radius: 10px;
    height: 30px;
    margin: 50px;
}

#btnAsignar{
	background-color: #ffb447;
    width: 100px;
    border: none;
    border-radius: 10px;
    height: 30px;
    margin: 50px;
}

.imagen{
    padding-top: 25px;
    padding-bottom: 15px;

}

h1{
	font-family: 'Akaya Telivigala', cursive;
	font-size: 80px
	
}

.footer{
    color: white;
    padding: 30px;
}

.li{
	border: solid 1px;
	border-radius: 15px;
	padding: 4px;
	margin: 5px;
	width: 250px; 
	display: inline-block;
	color: #011a05;
	font-family: 'Times New Roman', Times, serif;
	
}

 li> a{ /*agregar caracteristicas particulares a algun elemento dentro de algun atributo ya establecido */
	color: #01070e;
	font-weight: bold;
	
}

a{
	color: black;
}

select> li{
    border: none;
}

h6 {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 30px;
    font: bold;
}



/* fieldset{
    margin-left: 180px;
} */