﻿@model PrimerProyecto.Models.Trazabilidad

@{
    ViewBag.Title = "Delete";
}
<div class="row">
    <div class="col s12 center-align">
        <h4>Eliminar Trazabilidad</h4>
    </div>
</div>

    <div class="row">
        <div class="col s12">
            <table>
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Tipo)</th>
                        <th>@Html.DisplayNameFor(model => model.Kilos)</th>
                        <th>@Html.DisplayNameFor(model => model.Teus)</th>
                        <th>@Html.DisplayNameFor(model => model.Competencia)</th>
                        <th>@Html.DisplayNameFor(model => model.Otra_Competencia)</th>
                        <th>@Html.DisplayNameFor(model => model.Cod_Envio)</th>
                        <th>@Html.DisplayNameFor(model => model.Pais_Origen)</th>
                        <th>@Html.DisplayNameFor(model => model.Ciudad_Origen)</th>
                        <th>@Html.DisplayNameFor(model => model.Pais_Destino)</th>
                        <th>@Html.DisplayNameFor(model => model.Cuidad_Destino)</th>
                        <th>@Html.DisplayNameFor(model => model.Via)</th>
                        <th>@Html.DisplayNameFor(model => model.Embarques.Direccion_pro)</th>
                        <th>@Html.DisplayNameFor(model => model.Procesos.Nombre)</th>                      
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => model.Tipo)</td>
                        <td>@Html.DisplayFor(model => model.Kilos)</td>
                        <td>@Html.DisplayFor(model => model.Teus)</td>
                        <td>@Html.DisplayFor(model => model.Competencia)</td>
                        <td>@Html.DisplayFor(model => model.Otra_Competencia)</td>
                        <td>@Html.DisplayFor(model => model.Cod_Envio)</td>
                        <td>@Html.DisplayFor(model => model.Pais_Origen)</td>
                        <td>@Html.DisplayFor(model => model.Ciudad_Origen)</td>
                        <td>@Html.DisplayFor(model => model.Pais_Destino)</td>
                        <td>@Html.DisplayFor(model => model.Cuidad_Destino)</td>
                        <td>@Html.DisplayFor(model => model.Via)</td>
                        <td>@Html.DisplayFor(model => model.Embarques.Direccion_pro)</td>
                        <td>@Html.DisplayFor(model => model.Procesos.Nombre)</td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="row form-group">
    <div class="col s5 offset-s2">
        <input type="submit" value="GUARDAR" class="btn btn-default green" />
    </div>
    <div class="col s5">
        <span class="btn btn-default light-green lighten-3">@Html.ActionLink("REGRESAR", "Index")</span>
    </div>
</div>
    }