﻿@model PrimerProyecto.Models.Trazabilidad

@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col s10 offset-s2">
        <h4>Editar Trazabilidad</h4>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="row form-group">

        <div class="col s5 offset-s2">
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
        </div>
        <div class="col s5">
            @Html.LabelFor(model => model.Kilos, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Kilos, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Kilos, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="row form-group">

        <div class="col s5 offset-s2">
            @Html.LabelFor(model => model.Teus, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Teus, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Teus, "", new { @class = "text-danger" })
        </div>
        <div class="col s5">
            @Html.LabelFor(model => model.Competencia, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Competencia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Competencia, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="row form-group">

        <div class="col s5 offset-s2">
            @Html.LabelFor(model => model.Otra_Competencia, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Otra_Competencia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Otra_Competencia, "", new { @class = "text-danger" })
        </div>
        <div class="col s5">
            @Html.LabelFor(model => model.Cod_Envio, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Cod_Envio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cod_Envio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col s5 offset-s2">
            @Html.LabelFor(model => model.Pais_Origen, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Pais_Origen, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Pais_Origen, "", new { @class = "text-danger" })
        </div>
        <div class="col s5">
            @Html.LabelFor(model => model.Ciudad_Origen, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Ciudad_Origen, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ciudad_Origen, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="row form-group">
        <div class="col s5 offset-s2">
            @Html.LabelFor(model => model.Pais_Destino, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Pais_Destino, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Pais_Destino, "", new { @class = "text-danger" })
        </div>
        <div class="col s5">
            @Html.LabelFor(model => model.Cuidad_Destino, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Cuidad_Destino, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cuidad_Destino, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">

        <div class="col s10 offset-s2">
            @Html.LabelFor(model => model.Via, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Via, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Via, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="row form-group">
        <div class="col s5 offset-s2">
            @Html.LabelFor(model => model.idEmbarques, "idEmbarques", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("idEmbarques", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idEmbarques, "", new { @class = "text-danger" })
        </div>
        <div class="col s5">
            @Html.LabelFor(model => model.idProcesos, "idProcesos", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("idProcesos", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idProcesos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col s5 offset-s2">
            <input type="submit" value="GUARDAR" class="btn btn-default green" />
        </div>
        <div class="col s5">
            <span class="btn btn-default light-green lighten-3">@Html.ActionLink("REGRESAR", "Index")</span>
        </div>
    </div>
</div>
}