﻿@model IEnumerable<PrimerProyecto.Models.Usuarios>

@{
    ViewBag.Title = "Index";
}

<h6>Registro de Usuarios</h6>

<div class="btn-floating btn-small waves-effect waves-light green">
    @Html.ActionLink("+", "Create")
</div>
<div class="row">
    <div class="col s12">
        <table class="striped ">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contrasena)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contrasena)
                    </td>
                    <td>
                        @Html.ActionLink("Editar Información", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                        @Html.ActionLink("Eliminar Registro", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
    </div>
    @*<div class="col s12">

    </div>*@
</div>

