﻿@model IEnumerable<PrimerProyecto.Models.Monedas>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col s10 offset-s2">
        <h4>Registro de Monedas</h4>
    </div>
    <div class="col s10 offset-s2">
        <span class="btn-floating btn-small waves-effect waves-light green">@Html.ActionLink("+", "Create")</span>
    </div>
</div>

<div class="row">
    <div class="col s12 offset-s1">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>Administrar</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        <div class="material-icons">
                            @Html.ActionLink("edit", "Edit", new { id = item.id })
                        </div>
                        <div class="material-icons">
                            @Html.ActionLink("description", "Details", new { id = item.id })
                        </div>
                        <div class="material-icons">
                            @Html.ActionLink("delete", "Delete", new { id = item.id })
                        </div>
                    </td>
                </tr>
            }

        </table>
        </div>
    </div>
