﻿@model PrimerProyecto.Models.Trazabilidad

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Trazabilidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kilos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kilos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Competencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Otra_Competencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Otra_Competencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod_Envio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Envio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais_Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais_Origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad_Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad_Origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais_Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais_Destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuidad_Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuidad_Destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Via)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Via)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Embarques.Direccion_pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Embarques.Direccion_pro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Procesos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procesos.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
