﻿@model PrimerProyecto.Models.Trazabilidad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trazabilidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kilos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kilos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Competencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Otra_Competencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Otra_Competencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod_Envio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Envio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais_Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais_Origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad_Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad_Origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais_Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais_Destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuidad_Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuidad_Destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Via)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Via)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Embarques.Direccion_pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Embarques.Direccion_pro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Procesos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procesos.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
