﻿@model IEnumerable<PrimerProyecto.Models.Trazabilidad>

@{
    ViewBag.Title = "Index";
}

<h6>Trazabilidad</h6>

<div class="btn-floating btn-small waves-effect waves-light green">
    @Html.ActionLink("+", "Create")
</div>
<div class="row">
    <div class="col s12">

        <table class="table highlight">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kilos)/@Html.DisplayNameFor(model => model.Teus)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Teus)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Competencia)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Otra_Competencia)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Cod_Envio)
                </th>
                <th>
                    Origen
                    @*@Html.DisplayNameFor(model => model.Pais_Origen)*@
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Ciudad_Origen)
                </th>*@
                <th>
                    Destino
                    @*@Html.DisplayNameFor(model => model.Pais_Destino)*@
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Cuidad_Destino)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Via)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Embarques.Direccion_pro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Procesos.Nombre)
                </th>
                <th>
                    Administrar
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kilos) /  @Html.DisplayFor(modelItem => item.Teus)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Teus)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Competencia) - 
                        @Html.DisplayFor(modelItem => item.Otra_Competencia)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Otra_Competencia)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Cod_Envio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pais_Origen) 
                        @Html.DisplayFor(modelItem => item.Ciudad_Origen)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Ciudad_Origen)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Pais_Destino)
                    @Html.DisplayFor(modelItem => item.Cuidad_Destino)
                </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Cuidad_Destino)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Via)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Embarques.Direccion_pro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Procesos.Nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Editar Información", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                        @Html.ActionLink("Eliminar Registro", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
