﻿@model PrimerProyecto.Models.Procesos

@{
    ViewBag.Title = "Create";
}
<h6>Crear Proceso</h6>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
    <div class="row form-group">
        <div class="col s8 offset-s2 input-field">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
       
    </div>
        
    <div class="row form-group">
        <div class="col s4 offset-s2 input-field">
            @Html.LabelFor(model => model.Sucursal, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Sucursal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Sucursal, "", new { @class = "text-danger" })
        </div>
        <div class="col s4 input-field">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col s4 offset-s2">
            <input type="submit" value="CREAR" class="btn btn-default light-green darken-2" />
        </div>
        <div class="col s4">
            @Html.ActionLink("<--REGRESAR", "Index")
        </div>
    </div>
    </div>
}


