﻿@model PrimerProyecto.Models.Procesos

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col s12 center-align">
        <h4>Detalle de Procesos</h4>
    </div>
</div>

<div class="row">
    <div class="col s12 offset-s1">
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                    <th>@Html.DisplayNameFor(model => model.Sucursal)</th>
                    <th>@Html.DisplayNameFor(model => model.Estado)</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.Nombre)</td>
                    <td>@Html.DisplayFor(model => model.Sucursal)</td>
                    <td>@Html.DisplayFor(model => model.Estado)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row form-group">
    <div class="col s5 offset-s2">
        <input type="submit" value="GUARDAR" class="btn btn-default green" />
    </div>
    <div class="col s5">
        <span class="btn btn-default light-green lighten-3">@Html.ActionLink("REGRESAR", "Index")</span>
    </div>
</div>
