﻿@model PrimerProyecto.Models.Procesos

@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col s10 offset-s2 center-align">
        <h4>Editar Proceso</h4>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="row form-group">
        <div class="col s10 offset-s2">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col s5 offset-s2">
            @Html.LabelFor(model => model.Sucursal, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Sucursal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Sucursal, "", new { @class = "text-danger" })
        </div>
        <div class="col s5">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col s5 offset-s2">
            <input type="submit" value="GUARDAR" class="btn btn-default green" />
        </div>
        <div class="col s5">
            <span class="btn btn-default light-green lighten-3">@Html.ActionLink("REGRESAR", "Index")</span>
        </div>
    </div>
</div>
}


