﻿@model PrimerProyecto.Models.Embarques

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Embarques</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Direccion_pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion_pro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_pro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacto_pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto_pro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consignatario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consignatario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Embarque_A)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Embarque_A)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Embarque_M)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Embarque_M)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zona_Aduanera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zona_Aduanera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Incoterm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Incoterm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
