﻿@model IEnumerable<PrimerProyecto.Models.Embarques>

@{
    ViewBag.Title = "Index";
}

<h6>Embarques</h6>

<div class="btn-floating btn-small waves-effect waves-light green">
    @Html.ActionLink("+", "Create")
</div>
<div class="row">
    <div class="col s12">
        <table class="table">
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.Direccion_pro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono_pro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contacto_pro)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.N_Orden)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consignatario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Origen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Destino)
                </th>
                <th>
                    Aereo
                    @*@Html.DisplayNameFor(model => model.Embarque_A)*@
                </th>
                <th>
                    Maritimo
                    @*@Html.DisplayNameFor(model => model.Embarque_M)*@
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Producto)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Zona_Aduanera)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Incoterm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>Administrar</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Direccion_pro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono_pro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contacto_pro)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.N_Orden)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Consignatario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Origen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destino)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Embarque_A)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Embarque_M)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Producto)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Zona_Aduanera)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Incoterm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.ActionLink("Editar Información", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                        @Html.ActionLink("Eliminar Registro", "Delete", new { id = item.id })
                        @Html.ActionLink("Trazabilidad", "Index", "Trazabilidads")

                        <a class="waves-effect waves-light btn modal-trigger red" href="#modal1">Trazabilidad</a>

                        <!-- Modal Structure -->
                        <div id="modal1" class="modal bottom-sheet">

                            <div class="modal-content">
                                <h4>Trazabilidad</h4>
                                @Html.ActionLink("Trazabilidad", "Index", "Trazabilidads")
                                @*quiero traer la informaciion, mas no ir a ella*@
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
                            </div>

                        </div>

                    </td>
                </tr>
            }

        </table>
    </div>

    <script src="materialize/js/materialize.js"></script>   

    <script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
    </script>


</div>