﻿@model PrimerProyecto.Models.Actividades

@{
    ViewBag.Title = "Create";
}
<div class="row form-horizontal">
    <div class="col s10 offset-s2">
        <h4>Crear Actividades</h4>
    </div>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row form-group">
        <div class="col s5 offset-s2">
            @Html.LabelFor(model => model.Creada_por, "Creada_por", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("Creada_por", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Creada_por, "", new { @class = "text-danger" })
        </div>

        <div class="col s5">
            @Html.LabelFor(model => model.Asignada_por, "Asignada_por", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("Asignada_por", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Asignada_por, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col s5 offset-s2">
            @Html.LabelFor(model => model.Relacionado_con, "Relacionado_con", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("Relacionado_con", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Relacionado_con, "", new { @class = "text-danger" })
        </div>
        <div class="col s5">
            @Html.LabelFor(model => model.Asunto, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Asunto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Asunto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col s5 offset-s2 input-field">
            @Html.LabelFor(model => model.Cliente, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Cliente, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cliente, "", new { @class = "text-danger" })
        </div>
        <div class="col s5">
            @Html.LabelFor(model => model.Vencimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Vencimiento, new { htmlAttributes = new { @class = "form-control datepicker" } })
            @Html.ValidationMessageFor(model => model.Vencimiento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col s5 offset-s2 input-field">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
        </div>
        <div class="col s5 input-field">
            @Html.LabelFor(model => model.Prioridad, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Prioridad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Prioridad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col s5 offset-s2">
            @Html.LabelFor(model => model.Fecha_inicio, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Fecha_inicio, new { htmlAttributes = new { @class = "form-control datepicker" } })
            @Html.ValidationMessageFor(model => model.Fecha_inicio, "", new { @class = "text-danger" })
        </div>
        <div class="col s5">
            @Html.LabelFor(model => model.Fecha_final, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Fecha_final, new { htmlAttributes = new { @class = "form-control datepicker" } })
            @Html.ValidationMessageFor(model => model.Fecha_final, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="col s5 offset-s2">
            <input type="submit" value="GUARDAR" class="btn btn-default green" />
        </div>
        <div class="col s5">
            <span class="btn btn-default light-green lighten-3">@Html.ActionLink("REGRESAR", "Index")</span>
        </div>
    </div>
</div>
}