﻿@model PrimerProyecto.Models.Actividades

@{
    ViewBag.Title = "Delete";
}
<div class="row">
    <div class="col s12 center-align">
        <h4>Eliminar Actividad</h4>
    </div>
</div>

    <div class="row">
        <div class="col s12 offset-s1">
            <table>
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Asunto)</th>
                        <th>@Html.DisplayNameFor(model => model.Cliente)</th>
                        <th>@Html.DisplayNameFor(model => model.Vencimiento)</th>
                        <th>@Html.DisplayNameFor(model => model.Estado)</th>
                        <th>@Html.DisplayNameFor(model => model.Prioridad)</th>
                        <th>@Html.DisplayNameFor(model => model.Fecha_inicio)</th>
                        <th>@Html.DisplayNameFor(model => model.Fecha_final)</th>
                        <th>@Html.DisplayNameFor(model => model.Procesos.Nombre)</th>
                        <th>@Html.DisplayNameFor(model => model.Usuarios.Nombre)</th>
                        <th>@Html.DisplayNameFor(model => model.Usuarios1.Nombre)</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => model.Asunto)</td>
                        <td>@Html.DisplayFor(model => model.Cliente)</td>
                        <td>@Html.DisplayFor(model => model.Vencimiento)</td>
                        <td>@Html.DisplayFor(model => model.Estado)</td>
                        <td>@Html.DisplayFor(model => model.Prioridad)</td>
                        <td>@Html.DisplayFor(model => model.Fecha_inicio)</td>
                        <td>@Html.DisplayFor(model => model.Fecha_final)</td>
                        <td>@Html.DisplayFor(model => model.Procesos.Nombre)</td>
                        <td>@Html.DisplayFor(model => model.Usuarios.Nombre)</td>
                        <td>@Html.DisplayFor(model => model.Usuarios1.Nombre)</td>                        
                    </tr>                
                </tbody>
            </table>
        </div>
    </div>       

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="row form-group">
    <div class="col s5 offset-s2">
        <input type="submit" value="GUARDAR" class="btn btn-default green" />
    </div>
    <div class="col s5">
        <span class="btn btn-default light-green lighten-3">@Html.ActionLink("REGRESAR", "Index")</span>
    </div>
</div>
    }