﻿@model IEnumerable<PrimerProyecto.Models.Actividades>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col s10 offset-s2">
        <h4>Registro Actividades</h4>
    </div>
    <div class="col s10 offset-s2">
        <span class="btn-floating btn-small waves-effect waves-light green">@Html.ActionLink("+", "Create")</span> 
    </div>
</div>

<div class="row">
    <div class="col s12 offset-s1">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Asunto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vencimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prioridad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha_inicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha_final)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Procesos.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuarios.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuarios1.Nombre)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Asunto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vencimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prioridad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_inicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_final)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Procesos.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuarios.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuarios1.Nombre)
                    </td>
                    <td>
                        <div class="material-icons">
                            @Html.ActionLink("edit", "Edit", new { id = item.id })
                        </div>
                        <div class="material-icons">
                            @Html.ActionLink("description", "Details", new { id = item.id })
                        </div>
                        <div class="material-icons">
                            @Html.ActionLink("delete", "Delete", new { id = item.id })
                        </div>
                    </td>
                </tr>

            }

        </table>
    </div>
</div>